<<<<<<< HEAD
@media screen and (max-width:1200px) {
    
#desktop-nav
{
    display: none;
}

#hamburger-nav
{
display: flex;
}

=======
@media screen and (max-width:1200px) {
    
#desktop-nav
{
    display: none;
}

#hamburger-nav
{
display: flex;
}

>>>>>>> 1ce63fceff3b204619dbb09ede0c7af3fb19419c
}